body {
    background-color: #353935;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}
.mainpage{
    display:flex;
    flex-direction:column;
    align-items: center;
}
a{
    display: block;
    text-decoration:none;
    color: white;
    font-weight: bold;

}
a:hover{
    color: red;
}
img{
    width: 25vw;
    height: 25vw;
    
    border-radius: 50%;
}
